fastapi==0.115.11
fastapi-cli==0.0.7
sqlmodel==0.0.24
pgvector==0.4.0
psycopg2-binary==2.9.10
langchain==0.3.23
langchain-anthropic==0.3.12
langchain-community==0.3.21
langchain-core==0.3.54
langchain-ollama==0.3.2
langchain-openai==0.3.14
langchain-postgres==0.0.14
langchain-text-splitters==0.3.8
langgraph==0.3.31
langgraph-checkpoint==2.0.24
langgraph-prebuilt==0.1.8
langgraph-sdk==0.1.61
langsmith==0.3.32
pypdf==5.4.0